#
# GitHub-Actions CI
#
# This workflow runs tests for the github-actions implemented
# in `./src/actions/`.
#

name: "CI for Actions"

on: [pull_request, push]

jobs:
  test_actions:
    name: "Test Custom Github-Actions"
    runs-on: ubuntu-latest

    services:
      # Provide a local httpd to test the `netwait` action.
      httpd:
        image: "httpd"
        ports:
        - "8080:80"

    steps:
    - name: "Clone Repository"
      uses: actions/checkout@v5

    # Test the NetWait action.
    - name: "Run Local NetWait Action"
      uses: ./src/actions/netwait
      with:
        port: "8080"

    # Test the PrivDocker action.
    - name: "Run Local PrivDocker Action"
      uses: ./src/actions/privdocker
      with:
        run: |
          echo Foo
          echo Bar
